
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" >

<link rel="stylesheet" type="text/css" href="../css/reveal.css">
<link rel="stylesheet" type="text/css" href="../css/r_pay.css">
<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../js/alipayindex.js"></script>
<script type="text/javascript" src="${basePath}js/login.js"></script>
<title>会员缴费-草原文化数字化创意资源平台</title>
</head>
<body>
[#include "/header.html"]
[@dbh_servlet scope="session" name="loginid" var='loginid']
			[@dbh_member id=loginid var="member"]
<div class="wrap chenggongbox">
	<div class="chenggongbox2">
		<h3 class="notext">注册成功</h3>
		<p>恭喜您成功加入会员[#if flag==""]，您的订单尚未完成支付。请登录您选择的支付网站进行支付确认，或再网站中重新选择并支付[#else][#if member.eTime!=""]，会员有限期至${member.eTime?string("yyyy年MM月dd日")}[/#if][#if member.webgold!=""]，您已成功充值${member.webgold}元[/#if][/#if]</p>
		<div style="padding-left:220px; margin-top:50px;"><a href="http://www.anda9.net" class="btna fleft" style="margin-right:50px;">返回首页</a> <a href="http://www.anda9.net/action/page/8" class="btna fleft">查看片库</a></div>
		
	</div>
</div>

<div class="wrap guanggao">
	[@dbh_ad id='767']<img src="${filePath}" width="980px" height="100px" />[/@dbh_ad]
</div>
[/@dbh_member]
[/@dbh_servlet ]
</body>
[#include "/footer.html"]