<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" >

<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>

<link rel="stylesheet" type="text/css" href="../css/reveal.css">
<link rel="stylesheet" type="text/css" href="../css/r_p_main.css">

<script type="text/javascript" src="../js/RegExpValidata.js"></script>
<script type="text/javascript" src="../js/jquery.reveal.js"></script>
<script type="text/javascript" src="../js/alipayindex.js"></script>
<script type="text/javascript" src="${basePath}js/validate.js"></script>

<title>会员缴费-草原文化数字化创意资源平台</title>

</head>
<body >
[#include "/header.html"]
<!--支付信息开始-->
<div class="pay-box" id="r-pay-zf" style="display:none">
  <div class="pay-li-title">
    <span class="zzdg">您正在订购“素材资源”<span id="r-cp-name"></span></span>
    <span class="zzdg">当前账号：</span>
    <span class="dqzh" id="r-pay-tel"></span>
  </div>
  <div class="pay-li">
    <div class="slt"><img src="${basePath}images/tu1.jpg" /></div>
    <div class="text">
      <span class="title">“视频会员”<span id="r-cp-name-1"></span></span>
      <p>·套餐包含：集成产品会员一年，移动端APP一年，动画光碟，寓言故事图书</p>
      <p>·会员片库视频免费看、安达动漫新片最早看、网络动漫自由看</p>
      <p>·观看五广告省时又省心、专属高速通道高清不卡顿</p>
      <p>·专属身份标识彰显尊贵、VIP会员活动、会员礼品送不停</p>
      <p>·可支持电脑、手机及平板电脑观看且可多屏互动</p>
    </div>
  </div>
  <div class="pay-li-g"></div>
  <div class="pay-li-xz">
    
  </div>
  <!--zfb-->
  <div class="zfcont" style=" text-align:center;" id="r-zfb-m">
   	您下载附件不存在
  </div>
  <!--wy-->

  <!--wx-->


  <div class="pay-li">
    <div class="text">
      <span class="title2">温馨提示：</span>
      <p>1、套餐到期前一个月前将通知您发起续费，以保证您能够正常的使用本站服务；</p>
      <p>2、如支付遇到困难、异常、失败等情况，请关闭页面或联系客服帮您解决；</p>
      <p>3、请保证支付宝账户或关联银行卡余额足够，避免续费失败，影响您的支付成功；</p>
      <p>4、如有疑问，请拨打400-800-xxxx，安达文化传媒客服竭诚为您服务。</p>
    </div>
  </div>

  <a href="javascript:;" data-reveal-id="r-myModal" id="r-showMyModal" style="display:none;"></a>
	<div id="r-myModal" class="reveal-modal">
		<h3>请不要关闭本页。完成支付后点击已完成支付，完成注册！</h3>
		<a href="#" class="btna fleft" style="margin-left:70px; margin-right:30px;" id="r-pay-over">已完成支付</a>
		<a href="https://cshall.alipay.com/hall/index.htm" class="btna fleft" style="margin-left:70px; margin-right:30px;" target="_blank" >支付遇到问题</a>
	</div>

</div>


[#include "/footer.html"]
</body>

 </html>