<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>草原文化数字化创意资源平台</title>
<link type="text/css" rel="stylesheet" href="../css/public.css" />
<link type="text/css" href="../css/vip/styles.css" rel="stylesheet" />

<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript" src="../js/vip/vip.js"></script>
</head>
<base target="_blank" />
</head>

<body>
[#include "/header.html"]

<div class="viptq-pic"><a  id="vip"><img src="../images/vip/pic-1.jpg" /></a></div>
<div class="viptq">
  <div class="title">会员特权</div>
  <div class="in">
    <p class="pic"><img src="../images/vip/vip-only.jpg" /></p>
    <p class="info">会员视频&nbsp;&nbsp;&nbsp;免费观看</p>
    <p class="inro">视频库影片不限次观看，海量视频随心看，加量不加价！</p>
  </div>
  <div class="in">
    <p class="pic"><img src="../images/vip/vip-hd.jpg" /></p>
    <p class="info">高清品质&nbsp;&nbsp;&nbsp;视觉盛宴</p>
    <p class="inro">完美逼真画质，享受影院级视听盛宴，效果超出想象！</p>
  </div>
  <div class="in">
    <p class="pic"><img src="../images/vip/vip-ad.jpg" /></p>
    <p class="info">播放免广告&nbsp;&nbsp;&nbsp;无需等待</p>
    <p class="inro">观看免广告，精彩无需等待！</p>
  </div>
  <div class="in">
    <p class="pic"><img src="../images/vip/vip-down.jpg" /></p>
    <p class="info">海量素材&nbsp;&nbsp;&nbsp;按需下载</p>
    <p class="inro">素材库提供各类素材源文件下载，喜欢既要拥有！</p>
  </div>
  <div class="in">
    <p class="pic"><img src="../images/vip/vip-go.jpg" /></p>
    <p class="info">专享高速通道</p>
    <p class="inro">会员高速通道，观看视频更流畅，下载素材更迅速！</p>
  </div>
  <div class="in">
    <p class="pic"><img src="../images/vip/vip-activity.jpg" /></p>
    <p class="info">专属活动&nbsp;&nbsp;&nbsp;精彩不断</p>
    <p class="inro">线上线下，会员专属活动，超值好礼倾情回馈！</p>
  </div>
</div>

[#include "/footer.html"]
<!--统一底部结束-->
</body>


</html>
