<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>草原文化数字化创意资源平台</title>
<link type="text/css" rel="stylesheet" href="${basePath}css/public.css" />
</head>
<base target="_self" />
</head>
<!!>
<body>
[#include "/header.html"]
<!--统一头部结束-->
<div style="width:680px; height:140px; margin:auto; background:url(${basePath}images/build.jpg); padding:210px 0px 0px 0px; clear:both;">
  <div style="width:85px; height:35px; float:left; padding:0 0 0 250px;">
  [@dbh_channel id=2]
    <a href="${url}"><img src="${basePath}images/rw.jpg" /></a>
	[/@dbh_channel]
  </div>
  <div style="width:135px; height:35px; float:left; padding:0 0 0 30px;">
    [@dbh_channel id=8]
    <a href="#"><img src="${basePath}images/jccp.jpg" /></a>
	[/@dbh_channel]
  </div>
  <div style="width:85px; height:35px; float:left; padding:10px 0 0 250px;">
    <a href="#"><img src="${basePath}images/figures.jpg" /></a>
  </div>
  <div style="width:190px; height:35px; float:left; padding:10px 0 0 30px;">
    <a href="#"><img src="${basePath}images/Ip.jpg" /></a>
  </div>
</div>
<!--统一底部开始-->
[#include "/footer.html"]
<!--统一底部结束-->
</body>

</html>
