[@dbh_content]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>草原文化数字化创意资源平台</title>
<style type="text/css">
  @font-face {
    font-family: Menksoft2007;
	font-style:  normal;
    font-weight: normal;
    src:url("${basePath}mongol/Menksoft2007.woff") format("woff");
	src:
	}
</style>
<link type="text/css" href="${basePath}css/mn/styles.css" rel="stylesheet" />

<SCRIPT LANGUAGE=JavaScript>
//<!--
function getLight(pars){if(pars=="open"){close_light(this)}else{close_light(this)}};function thisMovie(movieName){if(navigator.appName.indexOf("Microsoft")!=-1){return window[movieName]}else{return document[movieName]}}
//-->
</SCRIPT>
<style>
.video_p { OVERFLOW: hidden; WIDTH: 980px; POSITION: relative;margin: auto;}
.close_light_bg {DISPLAY: none; BACKGROUND: #000; FILTER: alpha(opacity = 95); LEFT: 0px; WIDTH: 100%; POSITION: absolute; TOP: 0px; HEIGHT: 100%; opacity: .895}
</style>
<base target="_blank" />
</head>
<body>
<!--统一头部开始-->
<!--标头区-->
[#include "/mn/header_mn.html"]
<!--统一头部结束-->
<!--介绍位置开始-->
<div class="k"></div>
<script type="text/javascript" src="${basePath}component/kbplay/swfobject.js"></script>
<div class="video_c">

  <script type="text/javascript" src="${basePath}component/kbplay/swfobject.js"></script>
		<div class="video">
		<div>
			[#list file as f]
			[#if f_index==0]
		  	<div id="CuPlayer" class="video_p">
			
				<!--<a  style="display:block;width:980px;height:485px;" id="player"  href="${f.path}"> -->
<SCRIPT LANGUAGE=JavaScript>
setVideo(980,485,"${f.id}","CuPlayer");
//-->
</SCRIPT> 
<!--
<SCRIPT language=javascript src="${basePath}component/kbplay/jquery.js" type=text/javascript></SCRIPT> -->
<SCRIPT language=javascript src="${basePath}component/kbplay/action.js" type=text/javascript></SCRIPT>		
			
			</div>
			<div id="pl1" style="display:none;;width:980px;height:485px;margin: auto ">
			[#if f.name?index_of(".swf") >1]
				<embed src="${f.path}" height="485px" width="980px" allowFullScreen="true" wmode="Opaque">
				</embed>
			[/#if]
			</div>
		
		
		<script>
		
			 var fileExtend="${f.name}".substring("${f.name}".lastIndexOf('.')).toLowerCase();
			 if(fileExtend==".swf"){
			 
			 	$("#CuPlayer").hide();
				$("#pl1").show();
			 }
      		    
		</script>
		</div>
	</div>
	[/#if]
		[/#list]

  <div class="share">
  
   
								<!--<a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto" class="bshare-more">分享到</a> 
								<a title="分享到QQ空间" class="bshare-qzone"></a><a title="分享到新浪微博" class="bshare-sinaminiblog"></a>
								<a title="分享到人人网" class="bshare-renren"></a><a title="分享到腾讯微博" class="bshare-qqmb"></a>
								<a title="分享到网易微博" class="bshare-neteasemb"></a>
								<a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a>
								<span class="BSHARE_COUNT bshare-share-count">0</span>
							</div>
							<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=2&amp;lang=zh"></script><script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>-->
	</div>
</div>
<!--介绍位置结束-->
<div class="fg"></div>
<div class="k"></div>
<!--评论开始-->
[#if content.column.comments!=3]
<iframe  id="comment"  width="100%" frameborder=0  allowtransparency="true" 
							marginheight=0  marginwidth=0  scrolling="no"  style="z-index:9999;" src="${basePath}action/content/comment/mn/${content.id}"></iframe>
[/#if]
<!--评论结束-->
<div class="k"></div>
<!--统一底部开始-->
[#include "/mn/footer_mn.html"]
<!--统一底部结束-->
</body>

</html>
[/@dbh_content]