<script type="text/javascript" src="${basePath}js/mn/jquery.reveal-y.js"></script>
<script type="text/javascript" src="${basePath}js/mn/login.js"></script>
<link rel="stylesheet" type="text/css" href="${basePath}css/mn/reveal-y.css">
<a href="javascript:;" data-reveal-id="myModal" id="showMyModal" style="display:none;"></a>
<div id="myModal" class="reveal-modal" style="top: 250px; opacity: 1; visibility: hidden;">
	<form id="loginForm"  method="post" name="loginForm" >
  <input type="text" name="loginid" id="loginid" value="" class="name">
  <input type="password" name="password" id="password" value="" class="password">

  <a href="#" id="submit" target="_self" onclick="login()"><div class="submit" ></div></a>
  <div class="showmsg"><span class="mongol_write" id="msg"></span></div>
  <a class="close-reveal-modal">×</a>
  </form>

	</div>	
</div><div class="reveal-modal-bg" style="display: none; cursor: pointer;"></div>


<div class="end">
  <div class="end-bd">
    <p>版权声明：草原创意资源网版权所有，未经授权， 请勿转载或建立镜像，违者依法必究。</p>
    <p>内蒙古日报传媒集团 新闻热线：0471-6659693  客服电话：0471-6635129  商务合作：0471-6635388</p>
    <p>Copyright © 2004-2011 northnews.cn All Rights Reserved.   蒙ICP备10000005号   国新网许可证编号：1512011001</p>
  </div>
</div>