
<script type="text/javascript" src="${basePath}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${basePath}css/2jhd/js/jquery.scrollpic.js"></script>
<script type="text/javascript" src="${basePath}js/login.js"></script>

<div class="header">
  <div class="herder-bot">
    <a href="http://www.anda9.net/"><img src="${basePath}images/mn/bot-5.png" /></a>
  </div>  
  <div class="herder-bot">
    <a href="http://tsg.anda9.net/"><img src="${basePath}images/mn/bot-4.png" /></a>
  </div>
  <div class="herder-bot">
    <a href="http://child.anda9.net/"><img src="${basePath}images/mn/bot-3.png" /></a>
  </div>
  <div class="herder-bot">
    <a href="#"><img src="${basePath}images/mn/bot-2.png" /></a>
  </div>
  <div class="herder-bot">
    <a href="#"><img src="${basePath}images/mn/bot-1.png" /></a>
  </div>
</div>

<div class="nav">
  <div class="nav-bd">
      <a href="http://www.anda9.net/action/mn/index"  target="_self" >
        <img src="${basePath}images/mn/home.jpg" onmouseover="this.src='${basePath}images/mn/home-a.jpg'" onmouseout="this.src='${basePath}images/mn/home.jpg'" />
      </a>
    </div>
    <div class="nav-bd">
     [@dbh_channel id=2 lg="MN"] <a href="${url}"  target="_self">
        <img src="${basePath}images/mn/figure.jpg" onmouseover="this.src='${basePath}images/mn/figure-a.jpg'" onmouseout="this.src='${basePath}images/mn/figure.jpg'" />
      </a>[/@dbh_channel]
    </div>
    <div class="nav-bd">
     [@dbh_channel id=3 lg="MN"]  <a href="${url}"  target="_self">
        <img src="${basePath}images/mn/animal.jpg" onmouseover="this.src='${basePath}images/mn/animal-a.jpg'" onmouseout="this.src='${basePath}images/mn/animal.jpg'" />
      </a>[/@dbh_channel]
    </div>
    <div class="nav-bd">
      [@dbh_channel id=4 lg="MN"] <a href="${url}"  target="_self">
        <img src="${basePath}images/mn/tool.jpg" onmouseover="this.src='${basePath}images/mn/tool-a.jpg'" onmouseout="this.src='${basePath}images/mn/tool.jpg'" />
      </a>[/@dbh_channel]
    </div>
    <div class="nav-bd">
      [@dbh_channel id=5 lg="MN"] <a href="${url}"  target="_self">
        <img src="${basePath}images/mn/nature.jpg" onmouseover="this.src='${basePath}images/mn/nature-a.jpg'" onmouseout="this.src='${basePath}images/mn/nature.jpg'" />
      </a>[/@dbh_channel]
	</div>
  
    <div class="nav-bd">
     [@dbh_channel id=6 lg="MN"]  <a href="${url}"  target="_self">
        <img src="${basePath}images/mn/world.jpg" onmouseover="this.src='${basePath}images/mn/world-a.jpg'" onmouseout="this.src='${basePath}images/mn/world.jpg'" />
      </a>[/@dbh_channel]
	</div>
 
    <div class="nav-bd">
      [@dbh_channel id=7 lg="MN"] <a href="${url}"  target="_self">
        <img src="${basePath}images/mn/script.jpg" onmouseover="this.src='${basePath}images/mn/script-a.jpg'" onmouseout="this.src='${basePath}images/mn/script.jpg'" />
      </a>[/@dbh_channel]
	</div>
  
    <div class="nav-bd">
      [@dbh_channel id=8 lg="MN"] <a href="${url}"  target="_self">
        <img src="${basePath}images/mn/product.jpg" onmouseover="this.src='${basePath}images/mn/product-a.jpg'" onmouseout="this.src='${basePath}images/mn/product.jpg'" />
      </a>[/@dbh_channel]
	</div>
</div>