<div class="list">
[@dbh_channel_list parentid=2 var="list" lg="mn"]
  <li class="mongol_write" [#if list.id=columnid]style="background-color:#f86400"[/#if]><a href="${url}" target="_self">${list.name}</a></li>
 [/@dbh_channel_list]
  [@dbh_channel_list parentid=3 var="list" lg="mn"]
  <li class="mongol_write" [#if list.id=columnid]style="background-color:#f86400"[/#if]><a href="${url}" target="_self">${list.name}</a></li>
 [/@dbh_channel_list]
 [@dbh_channel_list parentid=4 var="list" lg="mn"]
  <li class="mongol_write" [#if list.id=columnid]style="background-color:#f86400"[/#if]><a href="${url}" target="_self">${list.name}</a></li>
 [/@dbh_channel_list]
 [@dbh_channel_list parentid=5 var="list" lg="mn"]
  <li class="mongol_write" [#if list.id=columnid]style="background-color:#f86400"[/#if]><a href="${url}" target="_self">${list.name}</a></li>
 [/@dbh_channel_list]
 [@dbh_channel_list parentid=6 var="list" lg="mn"]
  <li class="mongol_write" [#if list.id=columnid]style="background-color:#f86400"[/#if]><a href="${url}" target="_self">${list.name}</a></li>
 [/@dbh_channel_list]
 [@dbh_channel_list parentid=7 var="list" lg="mn"]
  <li class="mongol_write" [#if list.id=columnid]style="background-color:#f86400"[/#if]><a href="${url}" target="_self">${list.name}</a></li>
 [/@dbh_channel_list]
 [@dbh_channel_list parentid=8 var="list" lg="mn"]
  <li class="mongol_write" [#if list.id=columnid]style="background-color:#f86400"[/#if]><a href="${url}" target="_self">${list.name}</a></li>
 [/@dbh_channel_list]
</div>