<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>MyHtml.html</title>
	
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../../wap/styles/css/global.css" />
        <link type="text/css" rel="stylesheet" href="../../wap/styles/css/wapStyle.css" />
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
            <ul class="discussBox">
            	
            	<li class="discussUser">
                	<img src="styles/images/banner04.jpg" width="65" height="6" style="border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;" />
                   	郑国东
                </li>
                <li class="timeBox">
	               2013-03-05&nbsp;&nbsp;14:00&nbsp;&nbsp;发表
	               <span style="float:right;">回复</span>
                </li>
                <li class="contentBox">
               		武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市
                </li>
                <li class="contentBox">
               		武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市武汉科技大学城市
                </li>
                
            </ul>
            
            <ul style="width:100%;overflow:auto;height:80px;position:relative;">
            	<li style="position:absolute;left:100px;top:10px;width:65%;right:10px;">
            		<textarea name="userInputBox1" id="userInputBox1" style="width:100%;height:40px;"></textarea>
            	</li>
            	<li style="position:absolute;left:100px;top:55px;text-align:right;width:65%;right:10px;">
            	    <input type="button" id="" name="" value="提交回复" />
            	</li>
            </ul>
            
            <div class="userInputBox">
                <textarea name="userInputBox" id="userInputBox" style="width:98%;height:40px;"></textarea>
            </div>
            
        </div>
        

  </body>
</html>
