<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link type="text/css" rel="stylesheet" href="${basePath}css/public.css" />
<link type="text/css" rel="stylesheet" href="${basePath}css/styles.css" />
<script type="text/javascript" src="${basePath}js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="${basePath}js/login.js"></script>
<title>[@dbh_website]${webName}[/@dbh_website]</title>

</head>

<body>
[#include "/header.html"]
<!--找回密码开始-->
<div class="findpwd-box">
  <div class="findpwd-title">信息提示</div>
  <div class="findpwd-li">
    <div class="ts">链接已经失效</div>
  </div>
</div>

[#include "/footer.html"]
</body>
</html>
