<div class="end">
  <div class="end-bd">
    <p>版权声明：草原创意资源网版权所有，未经授权， 请勿转载或建立镜像，违者依法必究。</p>
    <p>内蒙古安达文化传媒有限责任公司  客服电话：0471-6651582  商务合作：15904884335</p>
    <p>Copyright © 2013-2021 anda9.net All Rights Reserved.   蒙ICP备12003168号   <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253233490'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s5.cnzz.com/stat.php%3Fid%3D1253233490%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script></p>
  </div>
</div>
</body>
</html>