<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="${basePath}css/mn/index.css" rel="stylesheet" />
<title>草原文化数字化创意资源平台</title>
</head>
<div class="logo"></div>
<div class="banner">
<li><a href="http://www.anda9.net">中文</a></li>
<li>|</li>
<li><a href="#"><img src="${basePath}images/mn/meng.png"/></a></li>
<li>|</li>
<li><a href="http://www.anda9.net/action/en/index"">English</a></li>
<li>|</li>
<li><a href="#">日本語</a></li>
<li>|</li>
<li><a href="#">한국어</a></li>
<li>|</li>
<li><a href="#">Français</a></li>
<li>|</li>
<li><a href="#">Deutsch</a></li>
<li>|</li>
<li><a href="#">русский</a></li>
<li>|</li>
<li><a href="#">Português</a></li>
</div>
<div class="nav">
[@dbh_channel id=2 lg="MN"]<div class="nav-bd"><a href="${url}" target="_self"><img src="${basePath}images/mn/nav-page2.png" /></a></div>[/@dbh_channel]
  [@dbh_channel id=3 lg="MN"]<div class="nav-bd"><a href="${url}" target="_self"><img src="${basePath}images/mn/nav-page3.png" /></a></div>[/@dbh_channel]
  [@dbh_channel id=4 lg="MN"]<div class="nav-bd"><a href="${url}" target="_self"><img src="${basePath}images/mn/nav-page4.png" /></a></div>[/@dbh_channel]
  [@dbh_channel id=5 lg="MN"]<div class="nav-bd"><a href="${url}" target="_self"><img src="${basePath}images/mn/nav-page5.png" /></a></div>[/@dbh_channel]
  [@dbh_channel id=6 lg="MN"]<div class="nav-bd"><a href="${url}" target="_self"><img src="${basePath}images/mn/nav-page6.png" /></a></div>[/@dbh_channel]
  [@dbh_channel id=7 lg="MN"]<div class="nav-bd"><a href="${url}" target="_self"><img src="${basePath}images/mn/nav-page7.png" /></a></div>[/@dbh_channel]
  [@dbh_channel id=8 lg="MN"]<div class="nav-bd"><a href="${url}" target="_self"><img src="${basePath}images/mn/nav-page8.png" /></a></div>[/@dbh_channel]
</div>
<body>
</body>
</html>
