<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link type="text/css" rel="stylesheet" href="${basePath}css/public.css" />
<link type="text/css" rel="stylesheet" href="${basePath}css/index_en.css" />
<title>[@dbh_website]${webName}[/@dbh_website]</title>

</head>

<body>
<div class="logo"></div>
<div class="banner">
<ul>
<li><a href="http://www.anda9.net">中文</a></li>
<li>|</li>
<li><a href="http://www.anda9.net/action/mn/index"><img src="${basePath}images/meng.png"/></a></li>
<li>|</li>
<li><a href="http://www.anda9.net/action/en/index"">English</a></li>
<li>|</li>
<li><a href="#">日本語</a></li>
<li>|</li>
<li><a href="#">한국어</a></li>
<li>|</li>
<li><a href="#">Français</a></li>
<li>|</li>
<li><a href="#">Deutsch</a></li>
<li>|</li>
<li><a href="#">русский</a></li>

<li>|</li>
<li><a href="#">Português</a></li>
</ul>
</div>
<div style="clear:both"></div>
<div class="nav">
<ul>
[@dbh_channel id=2 lg='en']<a href="${url}" target="_self"><li><div style=" margin-top:40px">${name}</div></li></a>[/@dbh_channel]
[@dbh_channel id=3 lg='en']<a href="${url}" target="_self"><li ><div style=" margin-top:40px">${name}</div></li></a>[/@dbh_channel]
[@dbh_channel id=4 lg='en']<a href="${url}" target="_self"><li style="font-size:18px;"><div style=" margin-top:40px">${name}</div></li></a>[/@dbh_channel]
[@dbh_channel id=5 lg='en']<a href="${url}" target="_self"><li ><div style=" margin-top:25px">${name}</div></li></a>[/@dbh_channel]
[@dbh_channel id=6 lg='en']<a href="${url}" target="_self"><li><div style=" margin-top:25px">${name}</div></li></a>[/@dbh_channel]
[@dbh_channel id=7 lg='en']<a href="${url}" target="_self"><li><div style=" margin-top:40px">${name}</div></li></a>[/@dbh_channel]
[@dbh_channel id=8 lg='en']<a href="${url}" target="_self"><li ><div style=" margin-top:25px">${name}</div></li></a>[/@dbh_channel]
</ul>
</div>
</body>
</html>
