<!--人物-->

[#if type==2]
<div class=" dh_main_right_nav">
	<div class="right-search">
	</div>
	<div class="dh_main_right_nav_top">
	<span class="dh_main_right_nav_top_span1">人物				   		</span>
	<span class="dh_main_right_nav_top_span2">素材筛选</span>
	</div>
	<ul class="search-ul">
	<li class="tag">
	<strong>年代：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=30 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>性别：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=31 var='tag' channelId=columnid]<a href="${url}"  target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>年纪：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=32 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li style="margin-left:50px">
	<strong>地区（按当代划分）：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=33 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	
	</ul>
</div>
[/#if]
<!--动物-->
[#if type==3]
<div class=" dh_main_right_nav">
	<div class="right-search">
	</div>
	<div class="dh_main_right_nav_top">
	<span class="dh_main_right_nav_top_span1">动物					   		</span>
	<span class="dh_main_right_nav_top_span2">素材筛选</span>
	</div>
	<ul class="search-ul">
<!--	<li class="tag">
	<strong>年代：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=30 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>性别：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=31 var='tag' channelId=columnid]<a href="${url}"  target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>年纪：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=32 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li style="margin-left:50px">
	<strong>地区（按当代划分）：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=33 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>-->
	
	</ul>
</div>
[/#if]

<!--生产生活-->
[#if type==4]
<div class=" dh_main_right_nav">
	<div class="right-search">
	</div>
	<div class="dh_main_right_nav_top">
	<span class="dh_main_right_nav_top_span1">生产生活用具					   		</span>
	<span class="dh_main_right_nav_top_span2">素材筛选</span>
	</div>
	<ul class="search-ul">
<!--	<li class="tag">
	<strong>年代：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=30 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>性别：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=31 var='tag' channelId=columnid]<a href="${url}"  target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>年纪：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=32 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li style="margin-left:50px">
	<strong>地区（按当代划分）：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=33 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>-->
	
	</ul>
</div>
[/#if]

<!--自然美术场景-->
[#if type==5]
<div class=" dh_main_right_nav">
	<div class="right-search">
	</div>
	<div class="dh_main_right_nav_top">
	<span class="dh_main_right_nav_top_span1">自然美术场景					   		</span>
	<span class="dh_main_right_nav_top_span2">素材筛选</span>
	</div>
	<ul class="search-ul">
<!--	<li class="tag">
	<strong>年代：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=30 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>性别：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=31 var='tag' channelId=columnid]<a href="${url}"  target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>年纪：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=32 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li style="margin-left:50px">
	<strong>地区（按当代划分）：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=33 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>-->
	
	</ul>
</div>
[/#if]

<!--社会美术场景-->
[#if type==6]
<div class=" dh_main_right_nav">
	<div class="right-search">
	</div>
	<div class="dh_main_right_nav_top">
	<span class="dh_main_right_nav_top_span1">社会美术场景					   		</span>
	<span class="dh_main_right_nav_top_span2">素材筛选</span>
	</div>
	<ul class="search-ul">
<!--	<li class="tag">
	<strong>年代：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=30 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>性别：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=31 var='tag' channelId=columnid]<a href="${url}"  target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>年纪：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=32 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li style="margin-left:50px">
	<strong>地区（按当代划分）：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=33 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>-->
	
	</ul>
</div>
[/#if]

<!--微型剧本-->
[#if type==7]
<div class=" dh_main_right_nav">
	<div class="right-search">
	</div>
	<div class="dh_main_right_nav_top">
	<span class="dh_main_right_nav_top_span1">微型剧本					   		</span>
	<span class="dh_main_right_nav_top_span2">素材筛选</span>
	</div>
	<ul class="search-ul">
<!--	<li class="tag">
	<strong>年代：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=30 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>性别：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a> [@dbh_tag_list type=31 var='tag' channelId=columnid]<a href="${url}"  target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li  class="tag">
	<strong>年纪：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=32 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>
	<li style="margin-left:50px">
	<strong>地区（按当代划分）：</strong> <a href="${basePath}action/search/tag/all/${columnid}/1" target="_self">全部</a>  [@dbh_tag_list type=33 var='tag' channelId=columnid]<a href="${url}" target="_self" class="tagsearch">${tag.title}</a>[/@dbh_tag_list]
	</li>-->
	
	</ul>
</div>
[/#if]

<!--集成产品-->
[#if type==8]
<div class=" dh_main_right_nav">
    	<div class="right-search">
    	</div>
         <div  class="dh_main_right_nav_top">
        <span class="dh_main_right_nav_top_span1">动画					   		</span>
        <span class="dh_main_right_nav_top_span2">素材筛选</span>
        </div>
        <ul  class="dh_main_right_nav_bottom">
        	
			[@dbh_channel_list parentid=8 var="list2"]
			<a href="${url}" target="_self" class="tagsearch">${list2.name}</a>
				[/@dbh_channel_list]
        </ul>
    </div>
[/#if]