<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" >
<meta   http-equiv="refresh"   content="5;URL=http://www.anda9.net">
<title>草原文化数字化创意资源平台</title>

<link type="text/css" rel="stylesheet" href="${basePath}css/public.css" />
<link rel="stylesheet" type="text/css" href="../css/r_p_main.css">
<link href="../css/areas/cityLayout.css" type="text/css" rel="stylesheet">
<script type="text/javascript" src="../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../js/RegExpValidata.js"></script>
<script type="text/javascript" src="../js/regedit_index.js"></script>


</head>

<body>
[#include "/header.html"]
<!--注册信息开始-->
<div class="reg-box">
  <div class="reg-title">注册会员</div>
  <div class="reg-bz">
    <div class="reg-bz-hui">
      <span class="reg-bz-xh">1</span>
      <span class="reg-bz-ts">填写注册信息</span>   
    </div>
    <div class="reg-bz-hui">
      <span class="reg-bz-xh">2</span>
      <span class="reg-bz-ts">选择会员类型</span>   
    </div>
    <div class="reg-bz-hui">
      <span class="reg-bz-xh">3</span>
      <span class="reg-bz-ts">填写详细信息</span>   
    </div>
    <div class="reg-bz-lan">
      <span class="reg-bz-xh">4</span>
      <span class="reg-bz-ts">完成注册</span>   
    </div>
  </div>
  <div class="reg-li-cg">
    <img src="${basePath}images/ewm.jpg" />
  </div>
  <div class="reg-li-cg">
    <span class="ewmts">关注安达文化传媒微信及时了解更多信息</span>
  </div>
  <div class="reg-li-cg">
    <img src="${basePath}images/star.jpg" />
    <span class="zccg">恭喜您注册成功！</span>
  </div>
  <div class="reg-li-lx" style=" width:780px; margin:20px 10px; border-bottom:1px dashed #666666;"></div>
  <div class="reg-li-cg">
    <span class="fhsy">5秒后页面自动跳转到首页，如未跳转请点击下方按钮进入首页</span>
  </div>
  <div class="reg-li-btn">
    <a href="#" class="login-bg">进入首页</a> 
  </div>
</div>
<!--注册信息结束-->
[#include "/footer.html"]
</body>
